h1 {
  text-align: center;
}

#name,
#email,
#message {
  width: 80%;
  height: 45px;
  border: none;
  background-color: #f5eedc;
  border-radius: 5px;
  margin: 10px;
}

#message {
  min-width: 80%;
  max-width: 90%;
  min-height: 75px;
  max-height: 300px;
}

button {
  width: 200px;
  height: 50px;
  border: none;
  padding: 15px 70px;
  background-color: #5cb25d;
  color: white;
  margin: 20px auto;
}

@media screen and (max-width: 1200px) {
  main {
    margin: 0 5%;
  }
}
