.seller-item-list {
  padding: 20px;
  height: 100%;
}

h2 {
  text-align: center;
}

.seller-item-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.add-item-form input,
.add-item-form textarea,
.add-item-form select {
  max-width: 50%;
  width: 50%;
  height: 40px;
}

.add-item-form textarea {
  min-height: 100px;
  max-height: 200px;
}

.add-item-buttons {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 801px) {
  .add-item-form textarea {
    min-width: 500px;
  }

  .add-item-form select {
    min-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .seller-item-list h2 {
    font-size: 20px;
  }

  .add-item-form textarea {
    min-width: 350px;
  }

  .add-item-form select {
    min-width: 350px;
  }
}

@media screen and (max-width: 500px) {
  .seller-item-list h2 {
    font-size: 20px;
  }

  .add-item-form textarea {
    min-width: 200px;
  }

  .add-item-form select {
    min-width: 200px;
  }
}
