/* ProductDetail.css */

.product-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .product-image img {
    max-width: 100%;
    max-height: 300px; /* Set your desired max height */
    width: auto;
    height: auto;
    border-radius: 15px;
  }
  
  .product-info {
    text-align: center;
    padding: 20px;
  }
  
  .product-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-info p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .product-price {
    font-weight: bold;
  }
  
  .add-to-cart {
    background-color: #5cb25d; /* Change button color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Add a smooth transition */
    display: block;
    margin: 20px auto;
  }
  
  .add-to-cart:hover {
    background-color: #3b773c /* Change button color on hover */
  }

.product-info label {
  display: inline-block; 
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold; 
  width: 120px;
}
.product-info input[type="number"] {
    display: inline-block; 
    width: 50px;
    padding: 8px; /* Increase padding for better touch input on mobile */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px;
    font-size: 16px; /* Match font size with the label */
  }
  
  .product-info input[type="number"] {
    width: 50px;
    padding: 5px;
  }
  
  
  /* Responsive CSS */
  
  @media (max-width: 768px) {
    .product-detail {
      margin: 10px;
    }
  
    .product-info h1 {
      font-size: 20px;
    }
  
    .product-info p {
      font-size: 14px;
      margin-bottom: 15px;
    }
  
    .product-info input[type="number"] {
        width: 40px; /* Adjust input width for smaller screens */
        padding: 6px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Decrease font size for smaller screens */
      }
    
      .add-to-cart {
        padding: 8px 16px;
        font-size: 16px;
        margin-top: 15px; /* Adjust spacing for smaller screens */
      }
  }
  